
{{!-- <div class="footer navbar-fixed-bottom text-center">
    <div class="panel-body">© Hey Y'all. All rights reserved.</div>
    <div class="devs text-right">
        <a href="/developers">Developers</a>
    </div>    
</div> --}}